<!-- templates/index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Python Websockets Chat Demo</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Arnaud Jeanroch, CSC40088,  WebSockets</h1>
        <p>This is a Python WebSockets Chat Demo. The original code lives <a href="https://github.com/heroku-examples/">on GitHub</a>. You can find the full guide <a href="https://devcenter.heroku.com/articles/python-websockets">on Heroku DevCenter</a>.</p>
        <p>The modified code, thanks to Stu Watts (https://gitlab.com/stu.watts/mod3_webapp/-/tree/week6_websocket) lives on <a href="https://github.com/krallnyx/csc40088-websockets">Back to Assessment 3</a></p>
          <p>The security features are:</p>
        <ul>
            <li>Limiting the received messages ["200 per day", "100 per hour"]</li>
            <li>Message validation  (to demonstrate, 1 character long messages are forbidden)</li>
        </ul>
      </div>
      <a href="https://csc40088-flask-d3.herokuapp.com/">Back to Assessment 3</a>
      <form id="input-form" class="form-inline">
        <div class="form-group">
          <input id="input-handle" type="text" class="form-control" placeholder="Enter handle" autofocus />
        </div>
        <div class="form-group">
          <input id="input-text" type="text" class="form-control" placeholder="Enter chat text here!" autofocus />
        </div>
        <button class="btn btn-primary" type="submit">Send</button>
      </form>
      <div class="page-header">
        <h1>Chat</h1>
      </div>
      <div id="chat-text">
      </div>
      <a href="https://csc40088-flask-d3.herokuapp.com/">Back to Assessment 3</a>
    </div>


    <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="static/js/reconnecting-websocket.min.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>
  </body>
</html>